<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="button-clear">
        <i class="icon icon-chevron-left">Back</i>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right" class="main">
    </ion-nave-view>
  </ion-pane>

  <ion-side-menu side="left" class="dark">
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/projects" class="item-dark">
          Projects
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
