<ion-view title="Projects">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" 
      class="button button-icon icon ion-navicon">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div class="list card" ng-repeat="project in projects">
      <div class="item">
        <h2>{{project.title}}</h2>
        <p>{{project.date}}</p>
      </div>
      <div class="item item-body">
        <ion-slide-box>
          <ion-slide class="box">
            <p>{{project.description}}</p>
          </ion-slide>
          <ion-slide class="box" ng-repeat="item in media">
            {{item}}
          </ion-slide>
        </ion-slide-box>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" 
          target="_blank"
          href="http://www.github.com/{{project.github_url}}">
          <i class="icon ion-social-github"></i>
          GitHub
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
