<a href="https://github.com/ianwalter/ng-boilerplate">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
</a>
<br>
<section>
  <div class="span-12">
    <header>
      <h1>ng-boilerplate</h1>
      <h6>A base for front-end development with <a href="http://angularjs.org/">AngularJS</a></h6>
    </header>
    <br>
    <h3>ng-boilerplate includes:</h3>
    <br>
    <section>
      <div class="span-6">
        <strong>Application</strong>
        <ul class="default-ul">
          <li>
            <a href="http://requirejs.org/">RequireJS</a> - JavaScript file and module loader
          </li>
          <li>
            <a href="http://sass-lang.com/">Sass</a> - CSS extension language
          </li>
          <li>
            <a href="http://bourbon.io/">Bourbon</a> - Mixin library for Sass
          </li>
          <li>
            <a href="http://neat.bourbon.io/">Neat</a> - Grid framework for Sass and Bourbon
          </li>
          <li>
            <a href="http://bitters.bourbon.io/">Bitters</a> - Scaffold styles for Bourbon projects
          </li>
          <li>
            <a href="http://refills.bourbon.io/">Refills</a> - Prepackaged patterns built on top of Bourbon
          </li>
          <li>
            <a href="http://bower.io/">Bower</a> - Front-end package manager
          </li>
          <li>
            <a href="http://gulpjs.com/">Gulp</a> - Streaming build system
          </li>
        </ul>
        <br>
        <strong>Testing</strong>
        <ul class="default-ul">
          <li>
            <a href="https://github.com/angular/bower-angular-mocks/">angular-mocks</a> - Mocking for AngularJS
          </li>
          <li>
            <a href="http://karma-runner.github.io/">Karma</a> - Integration test runner
          </li>
          <li>
            <a href="http://visionmedia.github.io/mocha/">Mocha</a> - Testing framework
          </li>
          <li>
            <a href="http://chaijs.com/">Chai</a> - Super-flexible assertion library
          </li>
          <li>
            <a href="https://github.com/angular/protractor/">Protractor</a> - End-to-end test runner
          </li>
        </ul>
        <br>
        <strong>Style</strong>
        <ul class="default-ul">
          <li>
            <a href="https://github.com/airbnb/javascript/">airbnb/javascript</a> - JavaScript Style Guide
          </li>
        </ul>
      </div>
      <div class="span-6 omega">
        <img src="public/image/AngularJS-large.png" />
      </div>
    </section>
    <br>
    <strong>Instructions:</strong>
    <ol class="default-ol">
      <li>
        Install bower using <code>sudo npm install bower -g</code>.
        Then run bower in the ngbp directory to install front-end dependencies: <code>bower install</code>.
      </li>
      <li>
        Install gulp using <code>sudo npm install gulp -g</code>.
        Then install the gulp plugins: <code>npm install</code>.
      </li>
      <li>
        Run <code>gulp</code> to compile, minify and lint front-end assets.
      </li>
      <li>
        Run <code>gulp debug default</code> while you are developing so that you can use the unminified version of your assets.
      </li>
      <li>
        Run <code>gulp server</code> or <code>gulp debug server</code> if you want the default task run and your files served by a development HTTP server
        (includes livereload!)
      </li>
    </ol>
    <br>
    <p>
      <input type="text" class="form-control name-input" placeholder="Enter your name"
             ng-model="nameService.name" />
    </p>
    <br>
    <div name-format ng-value="nameService.name"></div>
    <p>I hope you find this useful!</p>
    <p>
      «–– <a href="http://ianvonwalter.com">Ian</a>
    </p>
    <footer class="align-center">
      <ul class="horizontal-list">
        <li><a href="http://ianvonwalter.com">Von Walter</a></li>
        <li>·</li>
        <li><a href="https://github.com/ianwalter/ng-boilerplate">GitHub</a></li>
        <li>·</li>
        <li><a href="http://angularforum.com">Angular Forum</a></li>
      </ul>
    </footer>
  </div>
</section>